.map {
  margin: 0 auto;
  display: block;
  margin-bottom: 39px;
  border: none;
  width: 957px;
  height: 530px;
}

@media (max-width: $desktop-width) {
  .map {
    margin-bottom: 20px;
  }
}

@media (max-width: $tablet-width) {
  .map {
    margin-bottom: 31px;
  }
}
