.page-main__wrapper {
  background-image: url('../img/bg-back-desktop.jpg');
  background-size: cover;
  background-position: center;
}

@media (min-resolution: $retina) {
  .page-main__wrapper{
    background-image: url("../img/bg-back-desktop@2x.jpg");
  }
}

.page-main__heading {
  margin: 0;
  padding: 0;
  padding-top: 369px;
  padding-left: 173px;
  padding-bottom: 22px;
  font-weight: 700;
  font-size: 46px;
  line-height: 64px;
  color: $color-main;
  width: 393px;
  letter-spacing: 0.02em;
}

.page-main__text {
  margin: 0;
  padding: 0;
  padding-left: 171px;
  padding-bottom: 240px;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: $color-main;
  opacity: 0.8;
  width: 381px;
}

@media (max-width: $desktop-width) {
  .page-main__wrapper {
    background-image: url('../img/bg-back-tablet.jpg');
    margin-bottom: 70px;
  }

  @media (min-resolution: $retina) {
    .page-main__wrapper{
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .page-main__heading {
    padding-top: 136px;
    padding-bottom: 20px;
    padding-left: 0;
    width: auto;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }

  .page-main__text {
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 80px;
    padding-left: 0;
  }
}

@media (max-width: $tablet-width) {
  .page-main__wrapper {
    background-image: url('../img/bg-back-mobile.jpg');
  }

  @media (min-resolution: $retina) {
    .page-main__wrapper{
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }
  }

  .page-main__text {
    width: auto;
    padding-bottom: 70px;
  }

  .page-main__heading {
    padding-top: 122px;
  }

  .page-main__text {
    width: 288px;
  }
}

