.page-header {
  position: relative;
}

.page-header__wrapper {
  position: absolute;
  left: 50%;
  top: 18px;
  transform: translateX(-50%);
}

.page-header__wrapper--opened {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #FFFFFF;
  z-index: 5;
}

.page-header__logo {
  position: absolute;
  top: 297px;
}

@media (max-width: $desktop-width) {
  .page-header__logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__logo {
    position: static;
    margin-left: 21px;
  }

  .page-header__logo--closed {
    display: block;
  }

  .page-header__logo--opened {
    display: none;
  }

  .page-header__wrapper {
    left: 0;
    top: 0;
    transform: translateX(0);
    width: 100%;
  }
}
