.container {
  box-sizing: content-box;
  width: 1222px;
  margin: 0 auto;
}

.container--desktop {
  width: auto;
}

@media (max-width: 1439px) {
  .container {
    width: auto;
  }
}

@media (max-width: $desktop-width) {
  .container {
    width: 686px;
  }
}

@media (max-width: $tablet-width) {
  .container {
    width: 320px;
  }
}
