.container {
  box-sizing: border-box;
  width: $mobile-width;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.container--mobile {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .container {
    box-sizing: border-box;
    width: $tablet-width;
    margin: 0 auto;
    padding-right: 35px;
    padding-left: 35px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    box-sizing: content-box;
    width: auto;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1166px;
  }
}
