//Семантические цвета

$color-main: #FFFFFF;
$color-warning: #000000;
$color-light: #1F1F1F;


//Ширины

$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;
$retina: 1.5dppx;

//Шрифт

$font-main: "Montserrat", "Arial", sans-serif;
